body{
    font-size: 30px;
    background-image: url("bg.jpg");
    color: azure;
    padding:20px;
    float: left;
    text-align: center;
    font-family: sans-serif;
}
#anal{
    background-color: darkseagreen;
    border-radius: 45%;
    /* position: absolute; */
    left: 110px;
    top: 330px;
    width: 155px;
    word-wrap: break-word;  
    /* width: 125px; */
    margin: 20px;
}
#new{
    font-size: 30px;
}
#back{
    font-size: 20px;
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
    border-radius: 30%;
    border-style: groove;
    background: black;
    color: white;

}
#skip{
  
    font-size: 10px;
    border-style: groove;
    background: none;
    color: white;
    background-color: slategray;
}
a{
    margin: 0px;
    color: cornsilk;
    border-style: solid;
    border-width: 3px;
    border-color: darkcyan;
    padding: 5px;
    text-decoration: none;
}
a:hover,a:visited{
    text-decoration: none;
}
nav{
    margin: 0px;
    padding: 0px;
    height: 40px;
    text-align:center;
    font-size: 14.5px;
}