body{
    font-size: 30px;
    background-image: url("bg.jpg");
    color: azure;
    padding:20px;
    float: left;
    text-align: center;
    font-family: sans-serif;
}
#anal{
    background-color: darkseagreen;
    border-radius: 45%;
    /* position: absolute; */
    left: 110px;
    top: 330px;
    width: 155px;
    word-wrap: break-word;  
    /* width: 125px; */
    margin: 20px;
}
#new{
    font-size: 30px;
}
#back{
    font-size: 20px;
    position: fixed;
    top: 10px;
    left: 10px;
    display: none;
    border-radius: 30%;
    border-style: groove;
    background: none;
    color: white;

}
#skip{
  
    font-size: 10px;
    border-style: groove;
    background: none;
    color: white;
    background-color: slategray;
}